*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1; }

h1 {
  text-align: center;
  font-size: 4.4rem;
  margin: 4.4rem 0; }

.section {
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1); }

.accordion {
  padding: 2.4rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 2.4rem; }
  .accordion__number {
    color: #ced4da;
    font-weight: 600;
    font-size: 2.4rem; }
  .accordion__title {
    color: #212529;
    font-weight: 600;
    font-size: 2.4rem; }
  .accordion__icon {
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    stroke: #087f5b; }
  .accordion__hidden-box {
    grid-column: 2 / span 1;
    display: none; }
  .accordion__text {
    margin-bottom: 1.2rem; }
  .accordion__list {
    margin-left: 2rem;
    color: #495057; }

.open {
  border-top: 0.4rem solid #087f5b; }
  .open .accordion__number,
  .open .accordion__title {
    color: #087f5b; }
  .open .accordion__hidden-box {
    display: block; }
