// Accordion
$accrdion-open: #087f5b;
$text-bold: #212529;
$text-medium: #495057;
$text-light: #ced4da;

// Carousel
$carousel-main: #087f5b;

// Table
$table-main: #087f5b;

// Pagination
$pagination-main: #087f5b;

// Hero
$hero-main: #e67e22;
