*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
}

h1 {
  text-align: center;
  font-size: 4.4rem;
  margin: 4.4rem 0;
}

.section {
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.1);
  margin-bottom: 4.4rem;
}
